// Default Light Theme
$g-light-theme: (
  colors: $g-palette,
  shades: $g-light-shades,
  typography: $g-typography,
  screens: $g-screens
);

// Default Dark Theme
$g-dark-theme: (
  colors: $g-palette,
  shades: $g-light-shades,
  typography: $g-typography,
  screens: $g-screens
);

// Light Theme Builder
@function light_theme($theme: $g-light-theme) {
  $color-palette: check_config($theme, 'colors');
  $shades-palette: check_config($theme, 'shades');
  $typography: check_config($theme, 'typography');
  $screens: check_config($theme, 'screens');
  $result: (
    colors: $color-palette,
    shades: $shades-palette,
    typography: $typography,
    screens: $screens
  );
  @return $result;
}

// Dark Theme Builder
@function dark_theme($theme: $g-dark-theme) {
  $result: ();
  @return $result;
}

// CSS Properties Builder
@mixin global-variables($theme: light_theme()) {
  :root {
    @include build-variables($theme, colors);
    @include build-variables($theme, shades);
    @include build-variables($theme, typography);
    @include build-variables($theme, screens);
  }
}
