/** Theme builder helpers (functions and mixins) */

/** Map Deep Get - function to fetch deeply nested values from a map. */
@function map_deep_get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

/** Map Collect - merge multiple maps. */
@function map_collect($maps...) {
  $collection: ();
  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}

/** Get theme collection. */
@function get_theme_collection($theme, $collection, $section) {
  $result: ();
  @if $collection == $collection {
    $map: map_get($theme, $collection);
    $key: map_get($map, $section);
    @if type-of($map) == 'map' {
      @if null != map_deep_get($map, $section) {
        $result: map_merge(
          $result,
          (
            $section: $key
          )
        );
      } @else if null == index($map, $section) {
        $result: map_merge(
          $result,
          (#{$section}: map_deep_get($g-light-theme, $collection, $section))
        );
      }
    }
  }
  @return $result;
}

/** Check theme config. */
@function check_config($theme, $collection) {
  $result: ();
  $theme-colors: ();
  $theme-shades: ();
  $theme-typography: ();
  $theme-screens: ();
  @if map_has_key($theme, $collection) {
    @if $collection == 'colors' {
      $color-primary: get_theme_collection($theme, $collection, 'primary');
      $color-accent: get_theme_collection($theme, $collection, 'accent');
      $color-warn: get_theme_collection($theme, $collection, 'warn');
      $theme-colors: map_collect($color-primary, $color-accent, $color-warn);
    } @else if $collection == 'shades' {
      $background: get_theme_collection($theme, $collection, 'bg');
      $foreground: get_theme_collection($theme, $collection, 'fg');
      $theme-shades: map_collect($background, $foreground);
    } @else if $collection == 'typography' {
      $font-family: get_theme_collection($theme, $collection, 'font-family');
      $font-weight: get_theme_collection($theme, $collection, 'font-weight');
      $text-size: get_theme_collection($theme, $collection, 'text-size');
      $theme-typography: map_collect($font-family, $font-weight, $text-size);
    } @else if $collection == 'screens' {
      $screens: get_theme_collection($theme, $collection, 'screen');
      $theme-screens: map_collect($screens);
    }
    $result: map_collect($theme-colors, $theme-shades, $theme-typography, $theme-screens);
  } @else {
    $result: map_get($g-light-theme, $collection);
  }
  @return $result;
}

/** Build CSS variables mixin. */
@mixin build-variables($theme, $type) {
  @each $name, $value in $theme {
    @if ($name == #{$type}) {
      @each $config_name, $config_value in $value {
        @each $config_value_name, $config_value_key in $config_value {
          @if $config_value_name == 'default' {
            --#{$config_name}: #{$config_value_key};
          } @else {
            --#{$config_name}-#{$config_value_name}: #{$config_value_key};
          }
        }
      }
    }
  }
}

/** Color palette builder. */
@function build_color_palette($palette, $default: 500, $lighter: 300, $darker: 700) {
  $result: (
    lighter: map_get($palette, $lighter),
    default: map_get($palette, $default),
    darker: map_get($palette, $darker)
  );
  @return $result;
}
