// Default Shades
$g-white: hsl(0, 0%, 100%);
$g-black: hsl(0, 0%, 0%);

// Default Colors
$g-purple: (
  50: #eee8f8,
  100: #d5caed,
  200: #b9a6e2,
  300: #9d80d6,
  400: #8866cc,
  500: #744cc2,
  600: #6b47bd,
  700: #5d3eb1,
  800: #5038a8,
  900: #3c2f9d
);

$g-green: (
  50: #f2f8e8,
  100: #e2eec9,
  200: #cce0a3,
  300: #b9d581,
  400: #aacc66,
  500: #9bc34b,
  600: #8bb342,
  700: #759d39,
  800: #648c31,
  900: #416a20
);

$g-red: (
  50: #ffe4ea,
  100: #febbca,
  200: #fc8ea8,
  300: #f96085,
  400: #f53d6b,
  500: #f11a52,
  600: #e11451,
  700: #cb0c4d,
  800: #b7014d,
  900: #930046
);

$g-amber: (
  50: #fff8e4,
  100: #ffedb9,
  200: #ffe18e,
  300: #ffd663,
  400: #ffcc49,
  500: #ffc43e,
  600: #ffb63a,
  700: #ffa437,
  800: #ff9436,
  900: #ff7733
);

$g-blue: (
  50: #e2f6ff,
  100: #b5e7ff,
  200: #84d7ff,
  300: #54c7ff,
  400: #33bbff,
  500: #1faffe,
  600: #1ea0ef,
  700: #1d8dda,
  800: #1a7cc6,
  900: #185ba3
);

// Light Shades Palette
$g-light-shades: (
  bg: (
    'white': $g-white,
    'global': darken($g-white, 4)
  ),
  fg: (
    'white-text': $g-white,
    'primary-text': rgba($g-black, 0.89),
    'secondary-text': rgba($g-black, 0.55),
    'disabled-text': rgba($g-black, 0.21)
  )
);

// Dark Shades Palette
$g-dark-shades: (
  bg: (),
  fg: ()
);

// Color Palette
$g-palette: (
  primary: build_color_palette($g-purple),
  accent: build_color_palette($g-green),
  warn: build_color_palette($g-red)
);
