// Screens Config
$g-screens-config: (
  screen: (
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px
  )
);

// Screens Function
@function get_screens($config: $g-screens-config) {
  @return $config;
}

$g-screens: get_screens();
