$g-font-family-sans: unquote('Roboto, sans-serif') !default;
$g-font-family-mono: unquote('Roboto Mono, monospace') !default;

$g-typography-fonts: (
  sans: $g-font-family-sans,
  mono: $g-font-family-mono
) !default;

$g-typography-font-size: (
  h1: 4.6rem,
  h2: 3.8rem,
  h3: 3rem,
  h4: 2.6rem,
  h5: 2.2rem,
  h6: 1.8rem,
  subtitle1: 1.6rem,
  subtitle2: 1.4rem,
  body: 1.4rem,
  button: 1.4rem,
  caption: 1.2rem,
  overline: 1rem
) !default;

$g-typography-font-weight: (
  'thin': 100,
  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900
) !default;

// Typography Config
$g-typography-config: (
  font-family: $g-typography-fonts,
  text-size: $g-typography-font-size,
  font-weight: $g-typography-font-weight
);

// Typography Function
@function get_typography($config: $g-typography-config) {
  @return $config;
}

$g-typography: get_typography();
