/**
 * To change your theme’s typography, we recommend using Google Fonts and choosing a font family that
 * best reflects your style. Copy the font’s @import url and set the global font family by changing the variable
 * for “glyb-font-family-sans” and “glyb-font-family-mono”.
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500&display=swap');

/** Import all styles */
@import '../core';

$theme: ();

// Define default theme
$custom-theme: light_theme($theme);

// Build global variables
@include global-variables($custom-theme);
