/* You can add global styles to this file, and also import other style files */

@import '../projects/components/core/themes/default';

// 01. Blocks
* {
  margin: 0;
  padding: 0;
}

// 02. Box sizing
html {
  box-sizing: border-box;
}

*:not(html) {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// 03. Html tag
html {
  background-color: var(--bg-global);
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

// 04. Body tag
body {
  color: var(--fg-secondary-text);
  font-family: var(--font-family-sans);
  font-size: var(--text-size-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-body);
  letter-spacing: var(--tracking-body);
}
